<h1 class="page-header text-center">
  Profile for <strong><%= @user.first_name %> <%= @user.last_name %></strong>
</h1>

<div class="row">
  <span style="float: left; margin-right: 20px; margin-bottom: 20px"><%= image_tag @user.avatar.url(:medium) %></span>

<% if current_user != nil %>
  <p>
    Email: <%= @user.email %><br>
    <% if @user.phone == nil && current_user == @user %>
      <br>
      <span class="lead">Please <%= link_to "Add", edit_user_registration_path %> your phone number.</span>
    <% elsif @user.phone == nil && current_user != @user%>
    <% else %>
      Phone: <%= number_to_phone @user.phone %>
    <% end %>
  </p>
  <p>
    <% if @user.address_checker && current_user == @user %>
    <br>
    <span class="lead">Please <%= link_to "Add", edit_user_registration_path %> your address.</span>
    <% elsif @user.address_checker && current_user != @user%>
    <% else %>
    <u>Address:</u><br>
    <%= @user.street_address %><br>
    <%= @user.city %>, <%= @user.state %> <%= @user.zip %>
    <% end %>
  </p>
  <% else %>
    <div style="margin-top: 60px" class="col-md-3 col-md-offset-2 text-center">
      <%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-default inline" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-default inline"  %>
    </div>
  <% end %>
</div>
<div class="row">
  <p>
    <%= @user.description %>
  </p>
</div>

<% if current_user == @user %>
<%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-block btn-default" %>
<% end %>
<hr>
<h1>Listings</h1>


<% @user.listings.in_groups_of(3, false) do |group| %>
  <div class="row">
  <% group.each do |listing| %>
    <%= link_to listing_path(listing) do %>
      <div class="col-md-4">
        <p> <%= image_tag listing.avatars[0].thumb.url %></p>
        <p> <%= listing.title %></p>
        <p> <%= listing.pet_name %></p>
        <p> <%= listing.format_price %></p>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>
